<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1189261/pexels-photo-1189261.jpeg?cs=srgb&dl=alcohol-alcoholic-beverage-bar-1189261.jpg&fm=jpg);">
  <div class="container">
    <h1>Welcome to the Cocktail Bar!</h1>
    <p>You can <strong>create</strong> your own or just <strong>find</strong> a delicious one!</p>
    <%= link_to "Create a cocktail", new_cocktail_path, :class => "btn btn-primary" %>
  </div>
</div>


<div class="container mt-5">
  <h1>Cocktails</h1>

<div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category col-md-3 mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1232152/pexels-photo-1232152.jpeg?cs=srgb&dl=alcoholic-beverage-beverage-citrus-1232152.jpg&fm=jpg)">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
      <div>
        <%= link_to "🚽", cocktail_path(cocktail), method: :delete %>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>


</div>
