<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/605408/pexels-photo-605408.jpeg?cs=srgb&dl=alcoholic-beverages-bar-beverage-605408.jpg&fm=jpg);">
</div>

<div class="container">

  <h1>Create a new cocktail</h1>

  <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name %>
    <%= f.submit "Add cocktail", class: "btn btn-primary" %>
  <% end %>

  <div>
    <%= link_to "Back to cocktails", cocktails_path %>
  </div>

</div>
